body {
    margin: 0;
    padding: 0;
    font-family: Mont, sans-serif;
    position: relative;
}

header {
    background-color: #242628; 
    color: #fff; 
    padding: 10px 20px;
    /* margin-bottom: 800px; */
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.divheader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgheader {
    height: 50px; 
    width: auto; 
}

.nav p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.menu a {
    text-decoration: none; 
    color: #fff; 
    font-size: 16px;
    margin: 0 15px; 
    transition: color 0.3s; 
}

.menu a:hover {
    color: #f39c12; 
}

.Logo {
    min-width: 60px;
}

/* Page d'ACCUEIL */
.titre {
    color: #242628;
    position: absolute;
    top: 200px; 
    left: 50%;  
    transform: translateX(-50%); 
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}

.head{
    position: relative;
    background-image: url('../img/for-zero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 800px;
}


/* LOADER / Page de chargement */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242628;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader .wheel {
    height: 70%;
    animation: rolling 0.5s linear infinite;
}

@keyframes rolling {
    to {
      transform: rotate(360deg);
    }
  }


/* card 2  */
.gridcard2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10rem;
    margin: 0 100px;
    /* padding: 0; */
    justify-content: center; 
    align-items: center; 
    /* overflow: auto; */
    min-height: auto;
    padding: 100px 0;
}

/* .card2, .cardcontent {
    border: 1px solid red; 
} */


.card2 {
    perspective: 1000px; /* Ajoute une perspective 3D */
    /* width: 100%;  */
    /* height: 100%; */
}

.cardcontent {
    position: relative;
    width: 350px;
    height: 350px;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.6s ease-in-out;
}

.card2:hover .cardcontent {
    transform: rotateY(180deg); /* Fait pivoter la carte */
}

.cardavant, .cardarriere {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Cache la face arrière lorsqu'elle n'est pas visible */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    text-align: center;
}

.cardavant {
    background-color: #f39c12;
}

.cardavant img {
    max-width: 100%;
    border-radius: 20px;
}

.titreablbum {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.titreablbum h1 {
    color: white;
}

.cardarriere {
    /* background-color: aqua; */
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../img/hybrid\ theory.jpg');
    background-size: cover;  /* Pour couvrir l'élément avec l'image */
    background-position: center; 
    transform: rotateY(180deg);
    overflow: hidden; /* Évite que le contenu dépasse */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}

.cardarriere-content {
    max-height: 100%;
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    width: 100%; /* Pour s'assurer que le contenu occupe tout l'espace */
}

.cardarriere-content div {
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    color: white;
}


/* Personnalisation de la zone de contenu avec barre de défilement */
.cardarriere-content {
    overflow-y: scroll; /* Active la barre de défilement verticale */
    margin-top: 40px; /* Espace en haut */
    margin-bottom: 40px; /* Espace en bas */
    padding-right: 20px; /* Espace à droite pour la barre de défilement */
    margin-right: 20px; /* Décale la barre de défilement du bord droit */
    box-sizing: border-box; /* Permet d'inclure le padding dans les dimensions */
}

/* Personnalisation de la barre de défilement */
.cardarriere-content::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

/* Couleur et style de la piste (arrière-plan de la barre de défilement) */
.cardarriere-content::-webkit-scrollbar-track {
    background: #ffffff; /* Couleur de la piste */
    border-radius: 200px; /* Coins arrondis de la piste */
}

/* Couleur et style de la poignée (partie déplaçable) */
.cardarriere-content::-webkit-scrollbar-thumb {
    background: #d830b7; /* Couleur de la poignée */
    border-radius: 200px; /* Coins arrondis de la poignée */
    border: 3px solid #ffffff; /* Espace visuel autour de la poignée */
}

/* Effet au survol de la poignée */
.cardarriere-content::-webkit-scrollbar-thumb:hover {
    background: #d830b7; /* Couleur plus foncée au survol */
}


.section1 {
    background-color: #242628;
}


/* Bas de page */

#vinyle-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #222, #555);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyle-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyle {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

/* Autres sections pour tester le défilement */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.section:nth-child(odd) {
    background: #444;
}

.section:nth-child(even) {
    background: #666;
}

/* ptit bug ? */